html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Lato";
    font-size: 12px;
    background-image: url("../images/background.jpeg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}